*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/build/
desktop/build/
*.log
hs_err_pid*.log
keystore.properties
keystore/*.jks
keystore/*.keystore
keystore/CREDENTIALS.txt
.externalNativeBuild
